:root{
	--wd-top-bar-h: .00001px;
	--wd-top-bar-sm-h: .00001px;
	--wd-top-bar-sticky-h: .00001px;
	--wd-top-bar-brd-w: .00001px;

	--wd-header-general-h: 100px;
	--wd-header-general-sm-h: 65px;
	--wd-header-general-sticky-h: 70px;
	--wd-header-general-brd-w: .00001px;

	--wd-header-bottom-h: .00001px;
	--wd-header-bottom-sm-h: .00001px;
	--wd-header-bottom-sticky-h: .00001px;
	--wd-header-bottom-brd-w: .00001px;

	--wd-header-clone-h: .00001px;

	--wd-header-brd-w: calc(var(--wd-top-bar-brd-w) + var(--wd-header-general-brd-w) + var(--wd-header-bottom-brd-w));
	--wd-header-h: calc(var(--wd-top-bar-h) + var(--wd-header-general-h) + var(--wd-header-bottom-h) + var(--wd-header-brd-w));
	--wd-header-sticky-h: calc(var(--wd-top-bar-sticky-h) + var(--wd-header-general-sticky-h) + var(--wd-header-bottom-sticky-h) + var(--wd-header-clone-h) + var(--wd-header-brd-w));
	--wd-header-sm-h: calc(var(--wd-top-bar-sm-h) + var(--wd-header-general-sm-h) + var(--wd-header-bottom-sm-h) + var(--wd-header-brd-w));
}


.whb-sticked .whb-general-header .wd-dropdown:not(.sub-sub-menu) {
	margin-top: 15px;
}

.whb-sticked .whb-general-header .wd-dropdown:not(.sub-sub-menu):after {
	height: 25px;
}






		
.whb-5wz3dtawxkgtp65hcmff a:is(.btn-style-default, .btn-style-3d) {
	background-color: rgba(0, 50, 105, 1);
}
.whb-5wz3dtawxkgtp65hcmff a:is(.btn-style-bordered, .btn-style-link) {
	border-color: rgba(0, 50, 105, 1);
}
.whb-5wz3dtawxkgtp65hcmff a:is(.btn-style-bordered, .btn-style-default, .btn-style-3d):hover {
	background-color: rgba(255, 163, 0, 1);
}
.whb-5wz3dtawxkgtp65hcmff a:is(.btn-style-bordered, .btn-style-link):hover {
	border-color: rgba(255, 163, 0, 1);
}
.whb-general-header {
	border-color: rgba(0, 0, 0, 0.05);border-bottom-width: 0px;border-bottom-style: solid;
}

.whb-header-bottom {
	border-bottom-width: 0px;border-bottom-style: solid;
}
